*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
	color: white;
	background-color: black;
	background-image: url("./netflix/background.jpg");
}

/*Netflix preview and header */

.navigation
{
	display: flex;
	margin: 10px;
	flex-wrap: wrap;
}

.image
{
	width: 72%;
	height: 50%;
}

.nav
{
	word-spacing: 20px;
} 

.Languages
{
	width: 150px;
	height: 30px;
	background-color: #000000;
	color: grey;
	font-weight: 15px;
}

.sign
{
	width: 100px;
	height: 30px;
	margin: 20px;
	background-color: #e50914;
	border: none;
	font-size: 16px;
	color: white;
}

.content
{
	text-align: center;
	line-height: 55px;
	font-weight: bold;
}

h3
{
	font-size: 20px;
}

h4
{
	font-size: 26px;
}

.explore
{
	font-size: 50px;
	line-height: 60px;
}

.create-email
{
	font-size: 19.2px;
	font-weight: bold;
}

.email
{
	width: 400px;
	height: 60px;
	background-color: white;
	font-size: 17px;
	border: none;
	color: black;

}

.membership
{
	width: 200px;
	height: 60px;
	background-color: #e50914;
	font-size: 18px;
	border: none;
	color: white;
}

/*Netflix advantages and features section*/

.advantages
{
	display: flex;
	background-color: black;
}

h1
{
	font-size: 50px;
}

p
{
	font-size: 26px;
}

.features
{
	padding: 60px;
}

/*section part 2*/

.section-2
{
	background-color: black;


}

h2
{
	font-size: 50px;
	line-height: 100px;
	text-align: center;
	padding-top: 40px;
}

.queries
{
	padding-left: 200px;
}

.q1
{
	background-color: #303030;
	width: 900px;
	height: 80px;
	display: flex;
	font-size: 18px;
	color: white;

}

.membership-again
{
	padding-left: 120px;
}

/*footer section*/

.Questions
{
	font-size: 20px;
	margin: 20px;
	color: #737373;
	padding-left: 110px;
}

footer
{
	background-color: black;
	padding: 90px;
	padding-top: 50px;
}

.footer-container
{
	align-items: flex-start;
	grid-gap: 5px;
	padding-left: 40px; 
}

.link-column
{
	flex-direction: column;
	align-items: flex-start;
	gap:15px;
	margin-right: 10px;
}

.links
{
	color: #737373;
	font-size: 13px;
	text-decoration: none;
	margin-left: 100px;
}

.flex
{
	display: flex;
	text-align: start;
}

/*sub footer*/

.sub-footer
{
	background-color: black;
	padding: 50px;
	padding-left: 130px;
}


/*sub footer*/
.Lan
{
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 16px;
	background-color: #000000;
	color: grey;
}

.end
{
	font-size: 14px;
	margin: 20px;
	color: #737373;
	padding-left: 0px;
}

